services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports: 
      - "27017:27017"
    volumes: 
      - mongo_data:/data/db

volumes:
  mongo_data: